@import url('./header/index.css');
@import url('./banner/index.css');
@import url('./about/index.css');
@import url('./application/index.css');
@import url('./direction/index.css');
@import url('./gallery/index.css');
@import url('./blogs/index.css');
@import url('./footer/index.css');
