.card {
  flex: 0 0 auto;
  width: clamp(285px, 261.94px + 6.15vw, 380px);
  height: clamp(400px, 375.73px + 6.47vw, 500px);
  border-radius: 32px;

  position: relative;
  overflow: hidden;

  container-type: inline-size;
  container-name: card;

  cursor: pointer;
}

.card__rating {
  position: absolute;

  right: 0;
  top: 50px;

  display: inline-flex;
  padding: 4px 8px;
  align-items: center;
  column-gap: 4px;

  border-radius: 4px 0 0 4px;
  background: rgba(253, 253, 253, 0.40);
  backdrop-filter: blur(2px);
}

.card__rating span {
  color: #1A3E3E;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
}

.card__img {
  height: 100%;
}

.card__info {
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px 32px;
  width: 100%;
  height: 100%;

  background: rgba(48, 48, 48, 0.2);
  backdrop-filter: blur(6px);

  display: flex;
  flex-direction: column;
}

.card__info-price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.30);
}

.card__info-main {
  display: flex;
  margin-bottom: clamp(16px, 10.46px + 1.54vw, 40px);
  justify-content: space-between;
  color: var(--text-white)
}

.card__info-price {
  flex: 0 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.card__info {
  position: absolute;
  top: 80%;

  transition: top 0.5s ease;
}

.card__info-text {
  color: var(--text-white);
  opacity: 0;

  transition: opacity 0.3s ease 0.5s;
}

.card__btn {
  display: block;
  margin-top: auto;
}


.card:hover .card__info,
.card:active .card__info {
  top: 0;
}

.card:hover .card__info-text,
.card:active .card__info-text {
  opacity: 1;
}

@container card (min-width: 260px) {
  .card__info-price {
    padding: 6px 12px;
  }
  .card__info-main h4 span {
    display: none;
  }


}

@container card (min-width: 335px) {
  .card__info-price {
    padding: 8px 16px;

    max-width: 86px;
    max-height: 40px;
  }

  .card__info-main h4 span {
    display: block;
  }


}
