.footer {
  color: var(--text-white);
  position: relative;
}

.footer-top {
  background: var(--primary-color);
}

.footer-bottom {
  padding: 20px 0px;
  background: #18121E;
}


.footer-bottom__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  text-align: center;
}

.footer-bottom__wrapper cite {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: var(--text-white);
  font-style: normal;
}

.footer__top-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  padding-top: clamp(50px, 18.93px + 8.28vw, 178px);
  padding-bottom: 80px;
}

.footer__top-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__top-block h3 {
  font-family: "Nunito Sans";
  font-size: 20px;
}

.footer__top-block h3 + ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__top-block p {
  font-size: 1rem;
  margin-bottom: 80px;
}

.footer__top-block .footer__contact {
  display: flex;
  column-gap: 24px;

  margin-bottom: 30px;
}

.footer__socials {
  display: flex;
  column-gap: 16px;
}
.footer__socials li a {
  display: inline-block;
}

.footer__distribution {
  color: var(--text-black);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__distribution-wrapper {
  box-shadow: 0px 0px 15px 0px #18121E1F;
  padding: 24px;
  background: #FDFDFD;
}

.footer__distribution-title {
  font-size: clamp(24px, 23.51px + 0.13vw, 26px);
}

.footer__distribution-title span:first-child {
  font-size: 16px;
}

.footer__distribution-form p {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.footer__distribution-form p a {
  color: var(--text-black);
  text-decoration: underline;
}

.footer__distribution-form p a:hover {
  color: var(--text-yellow);
  text-decoration: underline;
}

.footer__distribution-btn.btn {
  padding: 12px 24px;
}

.footer__distribution-form form {
  margin-top: 18px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__distribution-form form input {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 0px;
}

.footer__distribution-form form :first-child {
  flex: 1 1 100%;
}
.footer__distribution-form form:first-child {
  width: auto;
}


@media (min-width: 768px) {

  .footer__distribution-form form {
    flex-direction: row;
  }

  .footer__distribution-form form button {
    align-self: flex-end;
  }
}

@media (min-width: 1024px) {

  .footer {
    padding-top: 196px;
  }

  .footer-bottom__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__top-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__top-block:first-child {
    flex: 0 1 480px;
  }

  .footer__top-block:last-child {
    flex: 0 1 280px;
  }

  .footer__distribution {
    position: absolute;
    left: 50%;
    top: 25%;

    transform: translate(-50%, -50%);
    width: 100%;
  }

  .footer__distribution-wrapper {
    padding: 40px 100px;
    background: #FDFDFD;
    box-shadow: 0px 0px 15px 0px #18121E1F;
    display: flex;
    justify-content: space-between;
  }

  .footer__distribution-form form {
    margin-top: 0px;
    margin-bottom: 8px;

    display: flex;
    align-items: flex-end;
    column-gap: 16px;
  }

  .footer__distribution-title {
    flex: 0 1 380px;
    align-self: center;
  }

  .footer__distribution-form {
    flex: 0 1 560px
  }
}
