.modal-header-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100dvh;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
  z-index: 300;
  border: none;

  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-header-menu:-webkit-full-screen {
  background-color: var(--primary-color);
}

.modal-header-menu[open].is-active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}


.modal-header-menu nav ul > li {
  margin-bottom: 16px;
}

.modal-header-menu__burger {
  position: absolute;
  top: 27px;
  right: 16px;
  color: var(--bt--btn-secondary);
}

.modal-header-menu__burger:hover,
.modal-header-menu__burger:active,
.modal-header-menu__burger:focus {
  color: var(--text-yellow);
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  z-index: 200;

  transition: background 0.3s ease;
}

.header.is-scroll {
  background: #1b2525
}

.header .header__wrapper {
  display: flex;
  align-items: center;
  height: 44px;
}

.header__logo {
  height: 100%;
  margin-bottom: 5px;
}

.header__logo a {
  display: inline-block;
  width: auto;
  height: 100%;
}

.header__logo a img {
  width: 100%;
  height: 100%;
}

.header__nav {
  display: none;
}

.header__btn-burger {
  margin-left: auto;
  color: var(--bt--btn-secondary);
}

.header__btn-burger:hover,
.header__btn-burger:active,
.header__btn-burger:focus {
  color: var(--text-yellow);
}

.header__btn-action.btn--link {
  display: none;
}

.header__modal[open] {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100dvh;
  width: 100%;
  padding: 50px 16px;
  background-color: var(--primary-color);
  z-index: 300;
  border: none;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  flex-direction: column;
}

.header__modal[open] ul li {
  margin-bottom: 24px;
}

.header__modal[open].is-active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.a-1:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .modal-header-menu {
    display: none;
  }

  .header {
    padding-top: 16px;
  }

  .header .header__wrapper {
    height: 72px;
  }

  .header__nav {
    display: block;
    margin: 0 auto;
  }

  .header__nav ul {
    display: flex;
    column-gap: clamp(12px, -1.83px + 1.35vw, 24px);
  }

  .header__btn-burger {
    display: none;
  }

  .header__btn-action.btn--link {
    display: inline-block;
  }

  .a-1:hover {
    text-decoration: none;
  }

  header .a-1::before {
    content: '';
  }

  header .a-1:hover::before {
    content: '';
  }
}
