.article {
  background: #FDFDFD;
  container-type: inline-size;
  container-name: article;
}

.article a {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--text-black);
}

.article span {
  transition: all 0.3s ease;
}

.article h4 {
  transition: all 0.3s ease;
}

.article a:hover h4 {
  text-decoration: underline;
}

.article a:hover span {
  text-decoration: underline;
}


.article__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article__text p {
  flex: 1 1 auto;
}

.article__img picture {
  width: 100%;
  min-width: 230px;
  height: 100%;
  max-height: 280px;
}

.article__img img {
  width: 100%;
}

.article__meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.article__meta time {
  color: var(--text-yellow);
  transition: color 0.3s ease;
}


@container article (min-width: 250px) {
  a {
    flex-direction: column;
    row-gap: 16px;
  }

  .article__text {
    row-gap: 24px;
  }

  .article__text {
    padding: 0px 16px 16px 16px;
  }
}

@container article (min-width: 450px) {
  a {
    flex-direction: row;
    column-gap: 16px;
    padding: 16px;
  }

  .article__text {
    padding: 16px 0px 16px 0px;
  }
}
